<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('include/_header') %>
        <link rel="stylesheet" href="/css/about.css">
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvTNYQ2xV3UlumVLZWea9RxFpdt1lK1XE&callback=initMap" async defer></script> -->
    </head>
    <body>
        <main> 
            
            <section class="about-section">
                <h1>About SHRED</h1>
                <p>
                    At SHRED, we're more than just a store. We're a curated collection of exquisite sunglasses, watches, and jewelry, hand-picked for the discerning individual. Our passion lies in providing timeless pieces that elevate your style and make a statement.
                </p>

                <div class="about-video">
                    <video width="50%" height="auto" autoplay muted loop>
                        <source src="/videos/vid1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <h2>Our Story</h2>
                <p>
                    SHRED was founded in 2024 with a vision to offer a unique shopping experience. Our founders, [Founder Names], shared a love for luxury accessories and a desire to create a space where customers could discover exceptional pieces.
                </p>

                <h2>Our Commitment</h2>
                <ul>
                    <li><b>Quality:</b> Every item in our collection is carefully selected for its superior craftsmanship and materials.</li>
                    <li><b>Authenticity:</b> We guarantee the authenticity of all our products.</li>
                    <li><b>Customer Service:</b> Your satisfaction is our top priority. Our knowledgeable staff is always ready to assist you.</li>
                    <li><b>Sustainability:</b> We strive to minimize our environmental impact and support ethical sourcing practices.</li>
                </ul>

                <h2>Explore Our Collection</h2>
                <p>
                    Discover our wide range of sunglasses, watches, and jewelry. From classic designs to modern trends, we have something to suit every taste and occasion.
                </p>

                <div class="visit-us">
                    <h1>Visit Us</h1>
                    <p>
                        Be'er Sheva, Israel<br>
                        Tel Aviv, Israel<br>
                    </p>
                </div>
            </section>

            <section class="map-section">
                <div id="map" style="height: 600px; width: 100%; border: 2px solid black;"></div>
            </section>
            <section class="weather-section">
                <h2>Weather Forecast</h2>
                <div class="weatherWidget"></div>
            </section>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="/js/location.js"></script>
            <script src="/js/weatherWidget.js"></script>
        </main>
        <%- include('include/_footer') %>
    </body>
</html>