<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('include/_header') %>
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body>
        <main> 
            <section class="about-section">
                <h1>About SHRED</h1>
                <p>
                    At SHRED, we're more than just a store. We're a curated collection of exquisite sunglasses, watches, and jewelry, hand-picked for the discerning individual. Our passion lies in providing timeless pieces that elevate your style and make a statement.
                </p>

                <h2>Our Story</h2>
                <p>
                    SHRED was founded in 2024 with a vision to offer a unique shopping experience. Our founders, [Founder Names], shared a love for luxury accessories and a desire to create a space where customers could discover exceptional pieces.
                </p>

                <h2>Our Commitment</h2>
                <ul>
                    <li><b>Quality:</b> Every item in our collection is carefully selected for its superior craftsmanship and materials.</li>
                    <li><b>Authenticity:</b> We guarantee the authenticity of all our products.</li>
                    <li><b>Customer Service:</b> Your satisfaction is our top priority. Our knowledgeable staff is always ready to assist you.</li>
                    <li><b>Sustainability:</b> We strive to minimize our environmental impact and support ethical sourcing practices.</li>
                </ul>

                <h2>Explore Our Collection</h2>
                <p>
                    Discover our wide range of sunglasses, watches, and jewelry. From classic designs to modern trends, we have something to suit every taste and occasion.
                </p>

                <h2>Visit Us</h2>
                <p>
                    [Your Store Address]<br>
                    [Your Website]<br>
                    [Your Social Media Links]
                </p>
            </section>

            <section class="map-section">
                <h2>Our Locations in Israel</h2>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ObVLzFURiZK3tSlFRPJIExZY6TfKr94&ehbc=2E312F&noprof=1" width="400" height="600" style="border:2;" allowfullscreen="" loading="lazy"></iframe>
            </section>
        </main>
        <%- include('include/_footer') %>
    </body>
</html>