<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('include/_header') %>
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <main> 
            <h1>Carttttt</h1>
        </main>
    </body>
</html>