<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('include/_header') %>
        <link rel="stylesheet" href="css/manager.css"> 
    </head>
    <body>
            <main>
                <h2>Main Content</h2>
                <p>Your content goes here...</p>
            </main>
        </div>
        
        <%- include('include/_footer') %>
    </body>
</html>
