<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('include/_header') %>
        <!-- <link rel="stylesheet" href="css/manager.css"> -->
    </head>
    <body>
        <main> 
            <h1>Hi Manager</h1>
        </main>
        <%- include('include/_footer') %>
    </body>
</html>