.about-section {
    text-align: left;
    padding: 5% 15%;
}

.about-video {
    display: flex;
    justify-content: center;
    padding-block: 2%;
}

.about-section h1 {
    color: #c94b25;
}

.about-section h2 {
    margin-top: 30px;
    color: #c94b25;
    font-weight: 500;
}

.about-section ul {
    list-style: none;
    padding: 0;
    column-count: 2;
}

.about-section ul li {
    margin-bottom: 10px;
}

.visit-us {
    text-align: center;
    margin-top: 100px;
    border-top: 1px solid;
}

.map-section {
    text-align: center; 
    padding: 0% 20% 5%;
}

.map-section iframe {
    display: inline-block; 
    width: 70%; 
    max-width: 800px; 
    height: 800; 
    border: 2px solid black; 
}
.weather-section {
    text-align: center;
    margin-top: 30px;
}

.weatherWidget {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}