@import url('https://fonts.googleapis.com/css2?family=Newsreader');


/* Body Background */
html, body {
    height: 100%;
    margin: 0;
}
/* Main content should take up available space */
main {
    flex: 1;
}

body {
    background-color: #ffffff; /* Ensure the background is white */
    color: #333333; /* Dark gray text for readability */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes full height */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    background-color: #2e2e2e; /* Dark header for contrast */
    color: #ffffff; /* White text for better visibility */
    padding: 15px 0; /* Add padding for spacing */
}

/* Buttons */
button, .btn {
    background-color: #ff9900; /* Bright color for buttons */
    color: #ffffff; /* White text on buttons */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover, .btn:hover {
    background-color: #e6760d; 
    color: #fff;
}

main {
    /* Links */
    a {
        color: #0066cc; /* Dark blue links for visibility */
        text-decoration: none;
    }
    
    a:hover {
        color: #004c99; /* Darker blue on hover */
        text-decoration: underline;
    }
}

/* Footer */
footer {
    background-color: #C94B25; /* Dark footer for contrast */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 15px 0; /* Adjust padding as needed */
    margin-top: auto; /* Push the footer to the bottom */
}

/* Product Titles */
.product-title {
    color: #ffffff; /* Dark gray for visibility */
    font-weight: bold;
}

/* Price Tags */
.price {
    color: #ff6600; /* Bright color for prices */
    font-size: 1.2em;
    font-weight: bold;
}

/* Miscellaneous */
h2, h3, h4, h5, h6 {
    color: #333333; /* Dark gray headers */
}
h1 {
    color: #ffffff; /* Dark gray headers */
}

p.card-text {
    color: #3d3d3d; /* Medium gray for paragraphs */
}

/* Cart Items */
.cart-item {
    background-color: #f9f9f9; /* Light gray for contrast */
    border: 1px solid #e0e0e0;
}

.cart-item p {
    color: #333333;
}

.card {
    display: flex;
    flex-direction: column;
    height: 400px; /* Set a fixed height for the card */
    overflow: hidden; /* Hide overflow to avoid unwanted scrollbars */
    border: 1px solid #e0e0e0; /* Ensure card border */
    border-radius: 5px; /* Optional: Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual */
}

.banner {
    min-height: 300px;
    max-height: 300px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-family: 'Newsreader';
        font-weight: 400;
        font-size: 32px;
    }
    .btn {
        width: 150px;
    }
    img {
       height: 300px;
       position: absolute;
       left: 0;
       top: 70px;
       z-index: -1;
    }
}
