.cart-container {
    display: flex;
    flex-direction: column;
    padding: 2% 4.5%;
    background-color: #f9f9f9;
}

.cart-container h1 {
    font-size: 200%;
    margin-bottom: 3vh;
    border-bottom: 1.5px solid #cccccce3;
    font-family: SHREAD;
}

.cart-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: space-between;
}

.order-summary {
    background-color: #eef6f6;
    border-radius: 12px;
    padding: 2%;
    height: fit-content;
    width: 40%;
    border: 1.5px solid #dcdadae3;
}

.order-summary h3 {
    font-size: 100%;
    margin: 0;
}

.order-summary p {
    display: flex;
    justify-content: space-between;
    font-size: 92%;
}

.order-summary .total {
    font-size: 105%;
    color: #333;
    font-weight: bold;
}

.payment-details {
    background-color: #eef6f6;
    border-radius: 12px;
    padding: 0% 4% 3%;
    height: fit-content;
    width: 50%;
    border: 1.5px solid #dcdadae3;
}

.payment-details h3 {
    font-size: 105%;
    border-bottom: 1px solid #ccc;
    padding-block: 5px;
}

.form-group-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
}

.form-group {
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5vh;
    font-size: 90%;
    color: #898989;
}

.form-group input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #c7c5c5;
    height: 1.2rem;
}

.payment-btn {
    background-color: #c94b25;
    color: #fff;
    padding: 4%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    margin-top: 5%;
}

.payment-btn:hover {
    background-color: #fff;
    color: #c94b25;
    border: 1px solid #c94b25;
    transition: all ease 0.5s;
}

@font-face {
    font-family: SHREAD;
    src: url(sansation_light.woff);
}


.clear-btn {
    background-color: #ff8a67;
    color: #fff;
    padding: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    font-weight: 600;
    margin: auto;
    margin-top: 2%;
}