<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- Footer Section -->
    <footer class="text-center py-3 mt-5">
        <p>&copy; 2024 SHRED. All Rights Reserved.</p>
    </footer>
</html>