<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHRED</title>
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/" class="logo">SHRED</a>
            <div class="right">
                <a href="/about">About</a>
                <div class="dropdown">
                    <a href="/accessories" class="dropbtn">Accessories</a>
                    <div class="dropdown-content">
                        <a href="/accessories/watches">Watches</a>
                        <a href="/accessories/jewelry">Jewelry</a>
                        <a href="/accessories/sunglasses">Sunglasses</a>
                    </div>
                </div>
                <% if ( username ) { %>
                    <div class="dropdown">
                        <% if ( isAdmin ) { %>
                            <a class="dropbtn"> Management </a>
                        <% } else { %>
                            <a href="/account" class="dropbtn"> My Account </a>
                        <% } %>
                        <div class="dropdown-content">
                            <% if ( isAdmin ) { %>
                                <a href="/manager/products"> Products </a>
                                <a href="/manager/users"> Users </a>
                                <a href="/manager/orders"> Orders </a>
                                <a href="/manager/statistics"> Statistics </a>
                            <% } %>
                            <a href="/logout"> Logout </a>
                        </div>
                    </div>
                    <a class="important" href="/cart"> Cart </a>
                  <% } else { %>
                    <a class="important" href="/login">Login</a>
                <% } %>
            </div>
        </div>
    </nav>
</body>