<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHRED</title>
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>

  <body>

    <!-- Navbar -->
    <nav>
        <div class="navbar">
            <a href="/" class="logo"><img src="/images/logo.png" alt="Logo"></a> <!-- Logo added here -->
            <a href="/">Home</a>
            <a href="/about">About</a>
            <div class="dropdown">
                <a href="/accessories" class="dropbtn">Accessories</a>
                <div class="dropdown-content">
                    <a href="/accessories/watches">Watches</a>
                    <a href="/accessories/jewelry">Jewelry</a>
                    <a href="/accessories/sunglasses">Sunglasses</a>
                </div>
            </div>
            <a href="/logout">Logout</a>
            <div class="search-container">
                <input type="text" placeholder="Search..." name="search">
            </div>
        </div>
    </nav>
</body>