<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <%- include('../include/_header') %>
    <title>Order Statistics</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/css/statistics.css">
</head>
<body style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
    <div class="container">
        <h1>Statistics</h1>
        <hr>

        <div class="chart-container">
            <div class="chart-box">
                <h2>Order Status Distribution</h2>
                <div id="order-status-chart"></div>
            </div>

            <div class="chart-box">
                <h2>Monthly Sales</h2>
                <div id="monthly-sales-chart"></div>
            </div>

            <div class="chart-box">
                <h2>Orders Over Time</h2>
                <div id="accessory-sales-chart"></div>
            </div>
        </div>
    </div>

    <script src="/js/statistics.js"></script>
    <%- include('../include/_footer') %>
</body>
</html>
